[project]
	description = The Linaro toolchain for Android development.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/BALAJI BABU THAPPALLI RAMESHBABU (trsbalaji)
[access "refs/for/refs/*"]
	read = group user/BALAJI BABU THAPPALLI RAMESHBABU (trsbalaji)
	push = group user/BALAJI BABU THAPPALLI RAMESHBABU (trsbalaji)
	label-Code-Review = -2..+2 group user/BALAJI BABU THAPPALLI RAMESHBABU (trsbalaji)
	label-Verified = -1..+1 group user/BALAJI BABU THAPPALLI RAMESHBABU (trsbalaji)
	rebase = group user/BALAJI BABU THAPPALLI RAMESHBABU (trsbalaji)
	removeReviewer = group user/BALAJI BABU THAPPALLI RAMESHBABU (trsbalaji)
	submit = group user/BALAJI BABU THAPPALLI RAMESHBABU (trsbalaji)
[access "refs/heads/*"]
	read = group user/BALAJI BABU THAPPALLI RAMESHBABU (trsbalaji)
	create = group user/BALAJI BABU THAPPALLI RAMESHBABU (trsbalaji)
	push = +force group user/BALAJI BABU THAPPALLI RAMESHBABU (trsbalaji)
	pushMerge = group user/BALAJI BABU THAPPALLI RAMESHBABU (trsbalaji)
[access "refs/tags/*"]
	push = group user/BALAJI BABU THAPPALLI RAMESHBABU (trsbalaji)
	push = +force group user/BALAJI BABU THAPPALLI RAMESHBABU (trsbalaji)
